!!!
%html
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link(rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    %link(rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
    %link(rel="stylesheet" type="text/css" href="/css/jumbotron-narrow.css")

    %code()
  %body
    .container
      .header
        %ul.nav.nav-pills.pull-right
        %span.h3.glyphicon.glyphicon-star Stars, Bitches
      .jumbotron
        %t
          Do I remember how to do this?
        %h1
          ***STARS***
        %img(src= 'http://2.bp.blogspot.com/-psu4-VgsKTA/UNHDGhTcAyI/AAAAAAAABGI/THyBQ2rr5eA/s1600/tumblr_ma42r7nSLZ1rrtahqo2_400.jpg' width="135" height="125")
        %p
          Coming soon...
        %p
          %small
            bitches
        %p

          %a.btn.btn-lg.btn-success{href: 'http://ak-hdl.buzzfed.com/static/enhanced/webdr03/2013/8/19/17/anigif_enhanced-buzz-18641-1376948917-10.gif', role:'button'} 
            %span.glyphicon.glyphicon-star Stars?
        %a.btn.btn-lg.btn-success{href: 'trying.html', role:'button'} 
          %h2
            Stars.


    %script(src="http://code.jquery.com/jquery.js")
    %script(src="/js/bootstrap.js")
    %a.btn.btn-lg.btn-success{href: '#', role:'button'}
      Stars?
    %script(src="//code.jquery.com/jquery.js")
    %script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
