!!!
%html
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link(rel="stylesheet" type="text/css" href="/css/bootstrap.css")
    %link(rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css")
    %link(rel="stylesheet" type="text/css" href="/css/jumbotron-narrow.css")

  %body
    .container
      .header
        %ul.nav.nav-pills.pull-right
        %h3 Stars, Bitches
      .jumbotron
        %h1
          ***STARS***
        %p
          Comming soon...
        %p
          %small
            bitches
        %p
          %a.btn.btn-lg.btn-success{href: '#', role:'button'}
            Stars?
    %script(src="http://code.jquery.com/jquery.js")
    %script(src="/js/bootstrap.js")
